@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.global-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 19.4px;
    line-height: 29.1px;
    color: #4361ee;
}
.global-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 39.8px;
    line-height: 47px;
    color: #2B2B2B;
    font-size: 2.25rem;
}
.global-subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    color: #6b7280;
}


